
/* =========================================================
	Introduction 
   ========================================================= */

.introduction {
	background-color: #221f20;
	margin-top: 141px;

	h1 {
		font-family: 'Roboto', sans-serif;
		color: #333;
		font-size: 18px;
		color: #fff;
		text-align: center;
		padding: 40px 30px 70px;
		line-height: 23px;
	}
}


@media (min-width:690px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 	

	.introduction {
		margin-top: 112px;	
		
		h1 {
			max-width: 80%;
    		margin: 0 auto;
    		font-size: 21px;
		}
	}
}